<div class="container-fluid p-0">
    <div class="vh-50 bg-imgs center-flex" style="background-image: url('/imgs/home-color.png');background-position: center center; background-size: cover;">
        <div class="overlay"></div>
        <div class="text-white z-1">
            <h1 class="font-weight-bold">Single Page Aplication (SAP)</h1>
            <h3>Vaga: Front-End</h3>
            <span>Empresa: <a class="font-weight-bold text-white" href="https://www.wdgautomation.com/" target="_blank">WDG Automation</a></span>
        </div>
    </div>
    <div class="container text-center my-5">
        <span>
            Pagina criada seguindo as especificações do arquivo: 
            <a href="/Desenvolvedor WEB.html" target="_blank">Desenvolvedor WEB</a>
        </span>
        <br/>
        <small>
            Para fazer o logout, basta clicar no menu "Logout" ou clicar <a href="#/login">Aqui</a>
        </small>
    </div>

    <section class="my-5">
        <div class="vh-50 bg-imgs bg-fixed center-flex" style="background-image: url('/imgs/home.png');">
            <div class="overlay"></div>
            <div class="text-white" style="z-index: 1;">
                <h1 class="font-weight-bold">Exemplo de imagem com rolagem</h1>
            </div>
        </div>
        <div class="container mt-4">
            <h1>Exemplo de texto</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </section>

    <section class="my-5">
        <div class="vh-50 bg-imgs center-flex" style="background-image: url('/imgs/home.png');">
            <div class="overlay"></div>
            <div class="text-white z-1">
                <h1 class="font-weight-bold">Exemplo de imagem sem rolagem</h1>
            </div>
        </div>
        <div class="container mt-4">
            <h1>Exemplo de texto</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </section>

</div>