<style>
    .user-avatar {
        width: 100%;
        height: auto;
        max-width: 90px;
        padding: 0 10px 0 0;
    }
</style>

<div class="d-flex align-items-center justify-content-center" style="min-height: 10vh; width: 100%;">
    <h2 class="">Listagem de usuários</h2>
</div>
<div class="w-100 d-flex justify-content-end mt-3">
    <form class="form-inline">
        <input id="search-input" class="form-control mr-sm-2 d-none" style="min-width: 300px;" ng-model="filterUser" type="search" placeholder="Buscar..." aria-label="Search">
    </form>
</div>
<div class="container-fluid p-0">
    <div class="d-flex flex-row border rounded p-0 m-2 align-items-center"  ng-repeat="data in data | filter: filterUser"  style="background-color: white;">
        <img src="{{ data.avatar }}" class="card-img user-avatar" alt="avatar do usuario">
        <div class="w-100 flex-grow-1 m-0 p-2">
            <h3 class="m-0">{{ data.first_name }} {{ data.last_name }}</h3>
            <p class="m-0">{{ data.email }}</p>
        </div>
        <div class="d-flex p-2">
            <button data-id="{{ data.id }}" class="btn btn-link mx-2" ng-click="">Editar</buttom>
            <button data-id="{{ data.id }}" class="btn btn-link mx-2" ng-click="">Excluir</buttom>
        </div>
    </div>
    <div id="pagination-btns" class="w-100 p-2 align-items-center justify-content-end d-none">
        <button id="btn-prev" class="btn btn-link" ng-click="changePage( pagination.page, '-1', pagination.total_pages )"><img src="/imgs/navigate_before-24px.svg" alt="voltar"></button>
        <span>{{ pagination.page }} de {{ pagination.total_pages }}</span>
        <button id="btn-next" class="btn btn-link" ng-click="changePage( pagination.page, '+1', pagination.total_pages )"><img src="/imgs/navigate_next-24px.svg" alt="avançar"></button>
    </div>
    <!-- <p>CONTEUDO: {{ pagination }}</p> -->
    <!-- <p>DADOS: {{ data }}</p> -->
</div>

<div id="edit-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="form" ng-submit="form.$valid && vm.login()" novalidate>
                    <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.email.$invalid }">
                        <label for="first-name">Nome:</label>
                        <input type="text" name="first-name" class="form-control" ng-model="vm.firstName" required />
                        <div ng-messages="form.$submitted && form.email.$error" class="help-block">
                            <div class="text-danger" ng-message="required">O campo nome é obrigatório!</div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.password.$invalid }">
                        <label for="last-name">Sobrenome:</label>
                        <input type="text" name="last-name" class="form-control" ng-model="vm.lastName" required />
                        <div ng-messages="form.$submitted && form.password.$error" class="help-block">
                            <div class="text-danger" ng-message="required">O campo Senha é obrigatório!</div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button ng-disabled="vm.loading" class="btn btn-secondary w-100">Login</button>
                        <img ng-if="vm.loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </div>
                    <div ng-if="vm.error" class="alert alert-danger">{{vm.error}}</div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

