<style>
    .user-avatar {
        width: 100%;
        height: auto;
        max-width: 90px;
        padding: 0 10px 0 0;
    }
</style>

<div class="d-flex align-items-center justify-content-center" style="min-height: 10vh; width: 100%;">
    <h2 class="">Listagem de usuários</h2>
</div>
<div class="w-100 d-flex justify-content-end mt-3">
    <form class="form-inline">
        <input id="search-input" class="form-control mr-sm-2 d-none" style="min-width: 300px;" ng-model="filterUser" type="search" placeholder="Buscar..." aria-label="Search">
    </form>
</div>
<div class="container-fluid p-0">
    <div class="d-flex flex-row border rounded p-0 m-2 align-items-center"  ng-repeat="data in data | filter: filterUser"  style="background-color: white;">
        <img src="{{ data.avatar }}" class="card-img user-avatar" alt="avatar do usuario">
        <div class="w-100 flex-grow-1 m-0 p-2">
            <h3 class="m-0">{{ data.first_name }} {{ data.last_name }}</h3>
            <p class="m-0">{{ data.email }}</p>
        </div>
        <div class="d-flex p-2">
            <button class="btn btn-link mx-2" data-toggle="modal" data-target="#edit-modal" ng-click="transferDataToEditModal(data)">Editar</buttom>
            <button class="btn btn-link mx-2" data-toggle="modal" data-target="#delete-modal" ng-click="transferDataToDeleteModal(data)">Excluir</buttom>
        </div>
    </div>
    <div id="pagination-btns" class="w-100 p-2 align-items-center justify-content-end d-none">
        <button id="btn-prev" class="btn btn-link" ng-click="changePage( pagination.page, '-1', pagination.total_pages )"><img src="/imgs/navigate_before-24px.svg" alt="voltar"></button>
        <span>{{ pagination.page }} de {{ pagination.total_pages }}</span>
        <button id="btn-next" class="btn btn-link" ng-click="changePage( pagination.page, '+1', pagination.total_pages )"><img src="/imgs/navigate_next-24px.svg" alt="avançar"></button>
    </div>
    <!-- <p>CONTEUDO: {{ pagination }}</p> -->
    <!-- <p>DADOS: {{ data }}</p> -->
</div>

<div id="edit-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Atualizar dados:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="form" ng-submit="" novalidate>
                    <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.firstName.$invalid }">
                        <label for="first-name">Nome:</label>
                        <input type="text" name="first-name" class="form-control" ng-model="vm.firstName" required />
                        <div ng-messages="form.$submitted && form.firstName.$error" class="help-block">
                            <div class="text-danger" ng-message="required">O campo nome é obrigatório!</div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.lastName.$invalid }">
                        <label for="last-name">Sobrenome:</label>
                        <input type="text" name="last-name" class="form-control" ng-model="vm.lastName" required />
                        <div ng-messages="form.$submitted && form.lastName.$error" class="help-block">
                            <div class="text-danger" ng-message="required">O campo Senha é obrigatório!</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-save-changes" type="button" class="btn btn-dark" ng-click="updateUser( vm.data )">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmação de exclusão</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" ng-click="deleteUser( vm.data )">Excluir</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

